:root {
  /* ################################## */
  /* Global */

  /* Color */
  --red-color: #ff0000;
  --grey-color: #f6f6f6;

  /* Size */
  --default-font-size-small: 12px;
  --default-font-size-medium : 18px;
  --default-padding : 12px;

  /* border */
  --default-border: 1px solid black;
  --default-border-radius: 20px;

  /* button */
  --default-button-width: 10px;
  --default-button-padding: 10px;
  --default-button-font-size: 12px;
  --default-button-border: 1px solid var(--grey-color);
  --default-button-border-radius: 8px;

  /* input */
  --default-input-padding: 10px;
  --default-input-font-size: 15px;

  /* ################################## */
  /* Modal dialog */
  /* size */
  --modal-max-width : 500px;
  --modal-padding : 20px;
  --modal-border : 1px solid var(--grey-color);
  --modal-border-radius : 5px;
  --modal-inner-spacing : 20px;
  /* color */
  --modal-grey-filter : rgb(0,0,0,0.2);

  /* ################################## */
  /* User window (login, sign up)*/
  /* size */
  --user-main-window-max-width: 700px;
  --user-logo-width: 100px;
  --user-main-window-padding: 30px;
  --user-input-field-margin-bottom: 20px;
  --user-input-field-inner-margin-bottom: 8px;
  --user-input-field-label-font-size: 17px;
  --user-btn-group-margin-top: 50px;

  /* color */
  /* ################################## */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
button {
  padding: var(--default-button-padding);
  font-size: var(--default-input-font-size);
  border: var(--default-button-border);
  border-radius: var(--default-button-border-radius);
}
input {
  box-sizing: border-box;
  padding: var(--default-input-padding);
  font-size: var(--default-input-font-size);
}

.hidden {
  display: none;
}

.no_scroll {
  overflow-y: auto;
}
