.calender_main_window {
    display: flex;
    flex-direction: column;
    margin-left: var(--side_bar_width);
    padding: var(--calender_window_padding_size);
}

.calender_control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: var(--calender_control_margin);
}

.calender {
    display: flex;;
    flex-direction: column;
}

.index_group {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid var(--grey-color);
    border-left: 1px solid var(--grey-color);
}

.date_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-left: 1px solid var(--grey-color);
}

.index {
    position: relative;
    border-right: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: calc(2/5 * 100%);
    background-color: var(--calender_index_background_color);
}

.index_inner {
    position: absolute;
    top : 0;
    left : 0;;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    border-right: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    position: relative;
    padding-bottom: calc(3/5 *100%);
}

.date_inner {
    position: absolute;
    top : 0;
    left : 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : var(--default_padding_size)
}

.date_inner>span:first-child {
    font-weight: bold;
}

.date_inner>span:last-child {
    flex-grow: 2;
    text-align: center;
}

.prev_month,
.next_month {
    background-color: var(--calender_date_background_color);
    opacity: 0.5;
}