.daily_modal {
    position : absolute;
    top: 10vh;
    transition: top 0.5s ease-out;
    width: 70%;
    height : 50vh;
    max-width: 600px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px -2px grey;
}

.daily_main_window {
    display: flex;
    box-sizing: border-box;
    height : 100%;
    flex-direction: column;
    justify-content: space-around;
}

.daily_top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.daily_top > *:not(:last-child){
    margin-right: var(--default_gap_size);
}

.daily_top > button {
    padding : var(--default_padding_topbottom_size) var(--default_padding_size);
    font-size: var(--default_font_size);
}

.daily_body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.daily_body > *:not(:last-child) {
    margin-bottom: var(--default_gap_size);
}

.daily_date {
    font-size: var(--default_large_size);
    font-weight: bold;
    padding-bottom: var(--default_padding_topbottom_size);
    border-bottom: 1px solid var(--grey-color);
}

.daily_field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.daily_field > * {
    padding : var(--default_padding_topbottom_size) var(--default_padding_size);
}

.daily_field > span {
    width: 20%;
    text-align: center;
}

.daily_field > input {
    flex-grow: 1;
}

.daily_button_group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.daily_button_group > button {
    padding : var(--default_padding_topbottom_size) var(--default_padding_size);
    width : var(--default_button_width);
}