@import "default.css" screen;

.top-nav {
    display: flex;
    height: var(--top-nav-height);
    padding: var(--default-padding);
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--grey-color);
    box-shadow: 0px 5px 5px var(--light-grey-color);
}

.top-nav-left-group {
    display: flex;
}

.top-nav-left-group > img {
    width: var(--top-nav-image-width);
}
.top-nav-right-group {
    display: flex;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown > input {
    align-self: flex-end;
    padding : 0px;
    width: var(--top-nav-image-width);
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.dropdown-item:not(:last-child) {
    border-bottom: inherit;
}

.dropdown-item {
    border-radius: 0px;
    padding: var(--default-padding);
}