@import "default.css" screen;

.top-nav {
    display: flex;
    height: var(--top-nav-height);
    padding: var(--default-padding);
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--grey-color);
    box-shadow: 0px 5px 5px var(--light-grey-color);
}

.top-nav-left-group {
    display: flex;
}

.top-nav-left-group > img {
    width: var(--top-nav-image-width);
}
.top-nav-right-group {
    display: flex;
}

.top-nav-right-group > input {
    padding : 0px;
    width: var(--top-nav-image-width);
}