.side_bar {
    display: flex;
    flex-direction: column;
    background-color: var(--side_bar_background_color);
    /* background-color: green; */
    height: 100vh;
    width : var(--side_bar_width);
    font-size: var(--default_font_size);
    position: fixed;
    top : 81px;
    left : 0;

}

.main_menu {
    display: flex;
    flex-direction: column;
    margin-top: var(--main_menu_margin_size);
}

.main_menu > span:first-child {
    padding: var(--default_padding_size);
    font-weight: bold;
}

.sub_menu {
    padding: var(--default_padding_size) var(--sub_menu_width_padding_size);
}

.selected {
    background-color: var(--side_bar_selected_color);
}